.container{
    max-width: 960;
    margin-right:auto;
    margin-left:auto;
    padding-right: 15px;
    padding-left: 15px;
}
.noteslist{
    display: grid;
    grid-gap:1rem;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
}

.note{
    background-color:#fef68a;
    margin-bottom: 10px;
    border-radius:10px;
    padding:1rem;
    min-height: 170px;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
}
.note.new{
background-color: rgb(108, 178, 178);
}
textarea{
    border: none;
    resize:none;
    background-color: rgb(108, 178, 178);

}
textarea:focus{
outline:none;
}
.save{
    background-color: rgb(206, 204, 204);
    border:none;
    border-radius: 15px;
    padding:5px 10px 5px 10px;  
}
.save:hover{
    background-color: aliceblue;
    cursor:pointer;
}
.note-footer{   
    display:flex;
    align-items: center;
    justify-content: space-between;
}
