@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,300;0,400;0,500;1,300&display=swap");

body {
  font-family: "Roboto Mono", sans-serif;
  color: #252525;
  font-weight: 400;
  background-color: #fff;
  box-sizing: border-box;
  padding: 0px;
  margin: 2px;
}

.container {
  max-width: 100%;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  gap: 4.8rem;
}   
.catagories{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2.8rem;
    padding: 15px;
    padding-top:40px;
    border-radius: 15px;
    padding-bottom:40px;
    background-color:rgb(243, 242, 242);
}
.btn{
    background-color: rgb(142, 89, 89);
    padding:4px;
    border-radius: 20px;
    padding-right:8px;
    padding-left:8px;}
img{
    width: 360px;
    height: 360px;
}

/* *************** */

.header {
  width: 100%;
}
nav {
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
}
nav a {
  color: aliceblue;
}
.cart {
  position: absolute;
  font-size: 22px;
  border-radius: 10px;
  font-weight: 2000;
  color: black;
  right: 2%;
  background-color: #edc84b;
  padding:5px;
  padding-right:12px;
  padding-left:12px;
}
.header h1 {
  /* Non-   color */
  color: #af8602;
  /* color: #af8602; */

  text-transform: uppercase;
  text-align: center;
  font-size: 5.2rem;
  font-weight: 300;
  letter-spacing: 3px;
  position: relative;
  width: 100%;
  display: block;
}

.header h1::before,
.header h1::after {
  display: block;
  content: "";
  height: 3px;
  width: 12rem;
  background-color: #edc84b;
  position: absolute;
  top: calc(50% - 1px);
}

.header h1::before {
  left: 0;
}

.header h1::after {
  right: 0;
}

/* *************** */

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
}

.menu h2 {
  display: inline-block;
  padding: 1rem 0;
  border-top: 2px solid currentColor;
  border-bottom: 2px solid currentColor;
  font-size: 2.4rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 500;
}

/* *************** */

.footer {
  box-sizing: border-box;
  font-size: 1.4rem;
  background-color: #252525;
  width: 100%;
}

.order {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.4rem;
}

.btn {
  color: inherit;
  font-family: inherit;
  border: none;
  font-size: 1.4rem;
  font-weight: 500;
  background-color: #edc84b;
  padding: 1.4rem 3.2rem;
  cursor: pointer;
  transition: all 0.2s;
}

.btn:hover {
  background-color: #e9bb24;
}
